header .navbar-fixed-bottom,
.navbar-fixed-top {
    position: relative;
}

header .navbar-default {
    background-color: #a6c626;
    /* border-color: #FFCC66; */
}

/* header .navbar-default .navbar-nav>li {
    border-bottom: 3px solid #FFCC66;
} */

header .navbar-default .navbar-nav>li:hover {
    color: #FFF;
}

header .navbar-default .navbar-nav>li>a {
    font-size: 19px;
    color: #5C2016;
    /* text-transform: uppercase; */
    line-height: 0;
    padding: 35px 35px 30px;
}

header .navbar-default .navbar-nav>li>a:hover {
    color: #FFF;
}

header .navbar-default .navbar-nav>.active>a,
header .navbar-default .navbar-nav>.active>a:focus,
header .navbar-default .navbar-nav>.active>a:hover {
    color: #FFF;
    background-color: transparent;
}

/* header .navbar-default .navbar-nav>li:hover {
    border-color: #89caee;
} */

header .navbar-default .navbar-nav>li:nth-child(8) {
    border-right: 0;
}

header .navbar-default .topbar {
    background: #fafafa;
    padding: 15px 0;
    font-size: 14px;
    color: #58585A;
    text-transform: uppercase;
}

header .navbar-default .topbar ul {
    list-style: none;
    margin: 0;
}

header .navbar-default .topbar ul li {
    display: inline-block;
}

header .navbar-default .topbar ul li:after {
    content: " | "
}

header .navbar-default .topbar ul li:nth-child(6):after {
    content: ""
}

header .navbar-default .topbar a {
    color: #58585A;
}

header .navbar-default .topbar a:hover {
    color: #FFD100;
}

header .navbar-default .topbar a.active {
    color: #FFCC66;
}

header .navbar-default .topbar-logo {
    background: #000;
    padding: 15px 0;
}

header .navbar-default .topbar-logo .navbar-brand {
    padding: 0;
    height: auto;
}

header button.btn-primary {
    background-color: #58585A;
    border-color: #58585A;
    border: 0;
    text-transform: uppercase;
    border-radius: 0;
}

header .navbar-form input {
    width: 277px !important;
    height: 38px;
    background: #F0f0f1;
    box-shadow: none;
    font-size: 12px;
    margin-right: 10px;
    border: 0;
}

header .navbar {
    border: 0;
    margin-bottom: 0;
}

header .navbar .navbar-nav {
    display: inline-block;
    float: none;
}

header .navbar .navbar-collapse {
    text-align: center;
}

header .navbar-fixed-bottom .navbar-collapse,
.navbar-fixed-top .navbar-collapse {
    max-height: 60px;
}

header .navbar-form input {
    width: 277px !important;
    ;
    height: 38px;
    background: #F0f0f1;
    box-shadow: none;
    font-size: 12px;
    margin-right: 10px;
}

header .navbar-form button.btn-primary {
    width: 38px;
    height: 38px;
    padding: 0;
}

header .navbar-form button.btn-primary img {
    margin-top: -5px;
}

header .second_menu {
    display: none;
}

/* Smartphone */
@media only screen and (max-width:767px) and (min-width:320px) {
    header .navbar .navbar-nav {
        width: 100%;
    }

    header .navbar-default .navbar-nav>li {
        border-right: 0;
    }

    header .navbar-default .navbar-nav>li>a {
        padding: 20px 0;
        font-size: 14px;
    }

    header .navbar-default .topbar ul {
        padding: 0;
    }

    header .navbar-default .topbar ul li {
        display: block;
        text-align: center;
        padding: 5px 0;
    }

    header .navbar-default .topbar ul li:after {
        content: " "
    }

    header .navbar-default .topbar .pull-right {
        margin-top: -24px;
    }

    header .navbar-default .topbar {
        padding: 10px 0;
    }

    header .second_menu {
        display: inline-block;
    }

    header .navbar-fixed-bottom .navbar-collapse,
    header .navbar-fixed-top .navbar-collapse {
        max-height: none;
        padding: 0;
    }

    header .navbar-header {
        text-align: center;
    }

    header .navbar-toggle {
        float: none;
        border: 0;
    }

    header .toggle-products {
        font-size: 16px;
        color: #FFF;
        text-transform: uppercase;
        line-height: 0;
    }

    header .navbar-default .navbar-toggle:focus,
    header .navbar-default .navbar-toggle:hover {
        background: #fff;
    }

    header .mobile_search .form-control {
        border-radius: 0;
        border: 0;
        height: 50px;
    }

    header .mobile_search button.btn-primary {
        background-color: #58585A;
        border-color: #58585A;
        border: 0;
        text-transform: uppercase;
        border-radius: 0;
        padding: 15px;
    }
}

/* Tablet */
@media only screen and (min-width:768px) and (max-width:959px) {
    header .navbar-default .topbar a {
        font-size: 12px;
    }

    header .navbar-default .navbar-nav>li>a {
        font-size: 14px;
        color: #FFF;
        text-transform: uppercase;
        line-height: 0;
        padding: 20px 20.6px;
    }

    header .collapse.in {
        display: block !important;
    }

    header .navbar .navbar-nav {
        display: block;
        float: none;
        vertical-align: top;
    }

    header .navbar .navbar-collapse {
        text-align: center;
    }

    header .navbar-header {
        text-align: center;
    }

    header .navbar-right button {
        padding: 5px 20px;
        margin: 0;
        font-size: 20px;
        float: right;
    }

    header .navbar-brand>img {
        height: 45px;
    }

    header .navbar-toggle {
        float: none;
        border: 0;
    }

    header .navbar-default .navbar-toggle:focus,
    .navbar-default .navbar-toggle:hover {
        background: transparent;
    }

    header .navbar-default .navbar-toggle .icon-bar {
        background-color: #FFF;
    }

    header .input-group-btn button {
        padding: 13px 20px;
    }

    header .navbar-fixed-bottom .navbar-collapse,
    .navbar-fixed-top .navbar-collapse {
        max-height: none;
        padding: 0;
    }
}

/* Tablet Landscape */
@media only screen and (min-width:960px) and (max-width:1199px) {
    header .navbar-default .topbar a {
        font-size: 12px;
    }

    header .navbar-default .navbar-nav>li>a {
        font-size: 14px;
        color: #FFF;
        text-transform: uppercase;
        line-height: 0;
        padding: 20px 34px;
    }

    header .collapse.in {
        display: block !important;
    }

    header .navbar .navbar-nav {
        display: block;
        float: none;
        vertical-align: top;
    }

    header .navbar .navbar-collapse {
        text-align: center;
    }

    header .navbar-header {
        text-align: center;
    }

    header .navbar-right button {
        padding: 5px 20px;
        margin: 0;
        font-size: 20px;
        float: right;
    }

    header .navbar-brand>img {
        height: 45px;
    }

    header .navbar-toggle {
        float: none;
        border: 0;
    }

    header .navbar-default .navbar-toggle:focus,
    .navbar-default .navbar-toggle:hover {
        background: transparent;
    }

    header .navbar-default .navbar-toggle .icon-bar {
        background-color: #FFF;
    }

    header .input-group-btn button {
        padding: 13px 20px;
    }

    header .navbar-fixed-bottom .navbar-collapse,
    header .navbar-fixed-top .navbar-collapse {
        max-height: none;
        padding: 0;
    }
}

/* Laptop 13' - 1366x768 No-Retina */
@media only screen and (min-width:1200px) and (max-width:1366px) {
    header .navbar-default .navbar-nav>li>a {
        padding: 30px 41.6px;
    }
}
.navbar-toggle {

    background-color: #696565 !important;

}


/* footer */


ul {
    margin: 0px;
    padding: 0px;
}
.footer-section {
  background: #000;
  position: relative;
  margin-top: 200px;
}
.footer-cta {
  border-bottom: 1px solid #000;
}
.single-cta i {
  color: #ff5e14;
  font-size: 30px;
  float: left;
  margin-top: 8px;
}
.cta-text {
  padding-left: 15px;
  display: inline-block;
}
.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}
.cta-text span {
  color: #757575;
  font-size: 15px;
}
.footer-content {
  position: relative;
  z-index: 2;
}
.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}
.footer-logo {
  margin-bottom: 30px;
}
.footer-logo img {
    max-width: 200px;
}
.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
      color: #7e7e7e;
  line-height: 28px;
}
.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
}
.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}
.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}
.facebook-bg{
  background: #3B5998;
}
.twitter-bg{
  background: #55ACEE;
}
.google-bg{
  background: #DD4B39;
}
.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}
.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #ff5e14;
}
.footer-widget ul li {
  display: inline-block;
  float: left;
  width: 50%;
  margin-bottom: 12px;
}
.footer-widget ul li a:hover{
  color: #ff5e14;
}
.footer-widget ul li a {
  color: #878787;
  text-transform: capitalize;
}
.subscribe-form {
  position: relative;
  overflow: hidden;
}
.subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: #2E2E2E;
  border: 1px solid #2E2E2E;
  color: #fff;
}
.subscribe-form button {
    position: absolute;
    right: 0;
    background: #ff5e14;
    padding: 13px 20px;
    border: 1px solid #ff5e14;
    top: 0;
}
.subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}
.copyright-area{
  background: #000;
  padding: 25px 0;
}
.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}
.copyright-text p a{
  color: #ff5e14;
}
.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}
.footer-menu li:hover a{
  color: #ff5e14;
}
.footer-menu li a {
  font-size: 14px;
  color: #878787;
}

.fas.fa-user {
    font-size: 30px; /* Adjust the size as needed */
    /* Additional styling as needed */
    margin-top: 13px;
    color: #fff;
}

/* login popup */


  .login-icon {
    cursor: pointer;
  }

  .popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }

  .popup-content {
    text-align: center;
  }

  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }

  form {
    margin-top: 20px;
  }

  input[type="text"],
  input[type="password"],
  button[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
  }

  button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
